---
sudo: false
dist: trusty
language: generic

branches:
  only:
    - master

cache:
  pip: true
  directories:
  - "${HOME}/bin"

env:
  global:
    - TOOLS_DIR=${HOME}/bin
    - PATH="${TOOLS_DIR}:${PATH}"

    # GitHub Configuration
    - GH_USERNAME="d6e-automaton"
    - GH_USER_EMAIL="dev@datawire.io"

    # Terraform Version
    - TERRAFORM_VERSION=0.11.1
    - TERRAFORM_SHA256SUM=4e3d5e4c6a267e31e9f95d4c1b00f5a7be5a319698f0370825b459cb786e2f35

    # Kops Configuration
    - KOPS_VERSION=1.7.0
    - KOPS_SHA256SUM=3b65f7c456238457d8246e617e3a9dac4d95d1f4d3f395a1d9e02e9dfd00d839

    # Kubectl Configuration
    - KUBECTL_VERSION=1.7.2
    - KUBECTL_SHA256SUM=e0806c9fd584771e74df2bbffb3d07f34b429606056ca47de396ef063dc8ef71

    - secure: "Va/zInAHV9mrIusQ1Y8vQn1nn2dbh+SGhCjAnaz/4BbK9zra9UbR44f8Sf18p/3sh/uqkvQWGRuezI4pAZbNr2bUSqmJ3A0TUImfDy/DKLgqfBGyas1yA1sB3hHlnHhjjujcnoEsHsNKjZvzNiDOt40Fj7bi/LOHz3OdS8b5z0qyXUBvayEIir1fpOq8ny4wQZLS529GM+CRYcS4/xG293RmuWQ2zPpQ/x6vSCFY06SLbO64Sl8Hz2CwO+gDzgnf/VTZ0FJD3dHcMMz76XgZ0/1CzM4YZ8Wozzy/BGkyIqRkKhtNwW34zhmi8Dj3CO43huZJ2sGw3jfwCboYz4DCAvLJ/FOk5kfYEuFOX+At4lj2ZpYKb1EVXypQwdR2FFgfhJcWHpvnJIkNGqgsbbvxDGBYNMH+l/HW/Xgc9Nirzv9fJUADcco6tx0ae6aSZsLikt5LUjfZocRwvKbvTKwFlK3JhHaiEsy3ZRglXGWuy32oiKav2oBfYBcSgMIa6johY7PvXJGOur3pq8eIvQ0NvTAXIjVHIzF0EUB8jHl8bzmlyw2aaZudVAMmi65RZdxxvRp8ioSv6i/4zezcgUVoxWYUNK07gXCmZCEQ+deBOjV2oCIRuZSQhxGYfWJPVhw6NB3gGlowOBdCmtHUZnWvyKWdzwoi4AfdrzlwgL12tkE="

before_install:
  - set -e
  - ci/setup.sh

install:
  - set -e
  - ci/install_terraform.sh
  - ci/install_kubectl.sh
  - ci/install_kops.sh
  - pip3 install -Ur requirements.txt

script:
  - set -e
  - bash ci/configure_git.sh
  - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash ci/terraform_plan.sh; fi
  - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then python3 ci/comment_pull_request.py; fi

deploy:
  - provider: script
    skip_cleanup: true
    script: ci/terraform_apply.sh
    on:
      branch: master
